<ul class="paginator" *ngIf="page">
  <li class="paginator__item">
    <a class="paginator__link" [class.disabled]="page === 1" (click)="GoFirst($event)">&lt;&lt;</a>
  </li>
  <li class="paginator__item">
    <a class="paginator__link" [class.disabled]="page === 1" (click)="GoPrev($event)">&lt;</a>
  </li>
  <li class="paginator__item">
    <a class="paginator__link" [class.current]="page === 1" (click)="GoPrev($event)">
      {{page === 1 ? page : page === totalPage ? page - 2 : page - 1}}
    </a>
  </li>
  <li class="paginator__item">
    <a 
      class="paginator__link"  
      (click)="page === 1 ? GoNext($event) : page === totalPage ? GoPrev($event) : false" 
      [class.current]="page > 1 && page !== totalPage"
    >
      {{page === 1 ? page + 1 : page === totalPage ? page - 1 : page}}
    </a>
  </li>
  <li class="paginator__item">
    <a 
      class="paginator__link" 
      (click)="page === totalPage ? false : GoNext($event)"
      [class.current]="page === totalPage"
    >
      {{page === 1 ? page + 2 : page === totalPage ? page : page + 1}}
    </a>
  </li>
  <li class="paginator__item">
    <a class="paginator__link" [class.disabled]="page === totalPage" (click)="GoNext($event)">&gt;</a>
  </li>
  <li class="paginator__item">
    <a class="paginator__link" [class.disabled]="page === totalPage" (click)="GoLast($event)">&gt;&gt;</a>
  </li>
</ul>